body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(134, 130, 130);
  flex-direction:row;
  padding: 16px 40px;
}

h1{
 margin-top: 0;
 padding: 0;
}

p{
  font-size: 24px;
  margin-top: 30px;
}

.info{
  width: 400px;
  box-sizing: border-box;
}

.header-image {
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content:space-between;
}

a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

a:hover{
  color: black;
}

.container{
  background-color:rgb(134, 130, 130);
  color: #ffffff;
  padding: 0 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  gap: 20px;
}

.textbox {
 max-width: 500px;
}

.main-img{
  width: 400px;
  max-width: 100%;
}

button {
  border-radius:8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.knowmore {
 border: 2px solid #ddd;
 margin-top: 30px;
 font-size: 20px;
}

.knowmore:hover{
  background: black;
  color:#eee ;
}

.information {
 background-color:aliceblue;
}

.title {
 display: flex;
 justify-content: center;
 font-size:30px;
 font-weight: bold;
 padding: 20px;
}

.title:hover{
 text-decoration: underline;
}
.poster{
 padding: 16px;
 width: 320px;
}

.m3,.m4,.m5,.i8{
 height: 250px;
 width: 320px;
}

.text{
 font-size:22px;
}

.booklist{
  display: flex;
  justify-content: space-evenly;
}

.quote {
  font-size: 26px;
  background:white;
  padding: 30px;
  line-height: 1.5;
}

.message {
 display: flex;
 align-items: center;
 justify-content: center;
}

.author {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.para{
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;   
  line-height: 1.1;            
  color: white;
  text-align:center;
}

.block{
 width: 350px;
 height: 200px;
 color: #f9faf8;
 background-color: rgb(32, 33, 34);
 border-radius: 4px;
 margin-top: 30px;
 padding:15px;
 box-sizing: border-box;
}

.inquiry{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.explore {
 background-color: rgb(91, 169, 246);
 margin: 25px 10px 0 10px;
 color: #f9faf8;
 font-size: 22px;
 width: 300px;
 border: 0;
}

.explore:hover{
 background:rgb(22, 93, 164) ;
}

.footer {
  height: 70px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}